<section class="accordion">
        <!-- CAMBIO DE CLAVE -->
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Cambio de clave personal
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form action="">
                <label for="">Contraseña actual</label>
                <input type="password" name="" id="">
                <label for="">Contraseña nueva</label>
                <input type="password" name="" id="">
                <label for="">Repetí la contraseña nueva</label>
                <input type="password" name="" id="">
                <div class="buttons">
                    <button class="btn">Guardar</button>
                    <button class="btn">Cancelar</button>
                </div>
            </form>
        </mat-expansion-panel>
    </mat-accordion>
</section>