<section class="container">

    <!-- PRIMERA LINEA FLEX -->
    <div class="first-line">
        <!-- CARD UNO: TOTAL VENTA DIARIA JULIO 2020 -->
        <div class="card">
            <div class="card-header">
                <h1>Total Venta diaria | Julio 2020</h1>
            </div>
            <div class="card-content">
                <app-venta-tot></app-venta-tot>
            </div>
        </div>

        <!-- CARD UNO: TOTAL VENTA DIARIA JULIO 2019 -->
        <div class="card">
            <div class="card-header">
                <h1>Total Venta diaria | Julio 2019</h1>
            </div>
            <div class="card-content">
                <app-venta-tot2019></app-venta-tot2019>
            </div>
        </div>

        <!-- FIN PRIMERA LINEA -->
    </div>

    <!-- SEGUNDA LINEA FLEX -->
    <div class="second-line">
        <!-- CARD TRES: TOTAL CARTONES JULIO 2019 -->
        <div class="card">
            <div class="card-header">
                <h1>Total cartones vendidos | Julio 2020</h1>
            </div>
            <div class="card-content">
                <app-carton2020></app-carton2020>
            </div>
        </div>

        <!-- CARD CUATRO: TOTAL CARTONES JULIO 2019 -->
        <div class="card">
            <div class="card-header">
                <h1>Total cartones vendidos | Julio 2019</h1>
            </div>
            <div class="card-content">
                <app-carton2019></app-carton2019>
            </div>
        </div>

        <!-- FIN SEGUNDA LINEA -->
    </div>

    <!-- TERCERA LINEA FLEX -->
    <div class="third-line">

        <!-- CARD CINCO: Incremento Jackpot | Julio 2020 -->
        <div class="card-large">
            <div class="card-header">
                <h1>Incremento Jackpot | Julio 2020</h1>
            </div>
            <div class="card-content">
                <app-jackpot20></app-jackpot20>
            </div>
        </div>

        <!-- FIN TERCERA LINEA -->
    </div>

    <!-- CUARTA LINEA FLEX -->
    <div class="fourth-line">

        <!-- CARD SEIS: Ganadores | Julio 2020 -->
        <div class="card">
            <div class="card-header">
                <h1>Ganadores | Julio 2020</h1>
            </div>
            <div class="card-content">
                <app-ganadores20></app-ganadores20>
            </div>
        </div>

        <!-- CARD SIETE: Ganadores | Julio 2019 -->
        <div class="card">
            <div class="card-header">
                <h1>Ganadores | Julio 2019</h1>
            </div>
            <div class="card-content">
                <app-ganadores19></app-ganadores19>
            </div>
        </div>

        <!-- FIN CUARTA LINEA -->
    </div>
</section>