<div class="sidebar">
    <div class="ul">
        <a routerLink='/home-agenciero'>
        <div class="logo"></div>
        <h3>Mega Millon Agenciero</h3>
        </a>
        <ul>
            <li>
                <a routerLink='/home-agenciero'>
                    <mat-icon class="icon">dashboard</mat-icon>
                    Dashboard
                </a>
            </li>
            <li>
                <a routerLink='/facturacion-agenciero'>
                    <mat-icon class="icon">monetization_on</mat-icon>
                    Facturación
                </a>
            </li>
            <li>
                <a routerLink='/alertas-agenciero'>
                    <mat-icon class="icon">announcement</mat-icon>
                    Alertas
                </a>
            </li>
            <li>
                <a routerLink='/notificaciones-agenciero'>
                    <mat-icon class="icon">
                    <span matBadge="2" matBadgePosition="before" matBadgeColor="warn"></span>
                    notifications_active</mat-icon>
                    Notificaciones
                </a>
            </li>
            <li>
                <a routerLink='/usuarios-agenciero'>
                <mat-icon class="icon">people</mat-icon>
                Usuarios
                </a>
            </li>
            <li>
                <a routerLink='/reportes-agenciero'>
                <mat-icon class="icon">equalizer</mat-icon>
                Reportes
                </a>
            </li>
            <li>
                <a routerLink=''>
                    <button class="btn">
                    Cerrar sesión
                    </button>
                </a>
            </li>
        </ul>
    </div>
</div>
