<section class="container">
    <app-sidebar-operador></app-sidebar-operador>
    <div class="content">
        <div class="title">
            <mat-icon class="icon">notifications_active</mat-icon> 
            <h1>Notificaciones</h1>
        </div>        
    <!-- PRIMERA LINEA FLEX -->
        <div class="first-line">
            <!-- CARD UNO: Cierres de día -->
            <div class="card">
                <div class="card-header">
                    <h1>Cierre del día</h1>
                    <mat-icon class="refresh">loop</mat-icon>
                </div>
                <div class="card-content">
                    <mat-icon>insert_chart</mat-icon>
                    <div class="date">
                        <h3>Rango de fechas</h3>
                        <div class="date-inputs">
                            <input type="date"> -
                            <input type="date">
                        </div>
                    </div>
                    <table>
                        <tr>
                            <th>Agencia</th>
                            <th>Estado</th>
                            <th>Hora</th>
                            <th>Fecha</th>
                        </tr>
                        <tr>
                            <td>Dato</td>
                            <td>Dato</td>
                            <td>Dato</td>
                            <td>Dato</td>
                        </tr>
                    </table>
                </div>
            </div>


            <!-- CARD DOS: Usuarios -->
            <div class="card">
                <div class="card-header">
                    <h1>Usuarios</h1>
                    <mat-icon class="refresh">loop</mat-icon>
                </div>
                <div class="card-content">
                    <mat-icon>people</mat-icon>
                    <table>
                        <tr>
                            <th>Agencia</th>
                            <th>Estado</th>
                            <th>Usuario</th>
                            <th>Hora</th>
                            <th>Fecha</th>
                        </tr>
                        <tr>
                            <td>Dato</td>
                            <td>Dato</td>
                            <td>Dato</td>
                            <td>Dato</td>
                            <td>Dato</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
