<section class="container">
    <app-sidebar-agenciero></app-sidebar-agenciero>
    <div class="content">
        <div class="title">
            <mat-icon class="icon">announcement</mat-icon>
            <h1>Alertas</h1>
        </div>
        <!-- PRIMERA LINEA FLEX -->
        <div class="first-line">
            <!-- CARD UNO: Agencias offline -->
            <div class="card">
                <div class="card-header">
                    <h1>Estado de agencia</h1>
                    <mat-icon class="refresh">loop</mat-icon>
                </div>
                <div class="card-content">
                    <mat-icon>pie_chart</mat-icon>
                    <table>
                        <tr>
                            <th>Agencia</th>
                            <th>Estado</th>
                            <th>Hora</th>
                            <th>Fecha</th>
                        </tr>
                        <tr>
                            <td>Dato</td>
                            <td>Dato</td>
                            <td>Dato</td>
                            <td>Dato</td>
                        </tr>
                    </table>
                </div>
            </div>

                <!-- CARD TRES: Agencias error -->
                <div class="card">
                    <div class="card-header">
                        <h2>Agencias con error en reportes</h2>
                        <mat-icon class="refresh">loop</mat-icon>
                    </div>
                    <div class="card-content">
                        <mat-icon class="offline">report_problem</mat-icon>
                        <table>
                            <tr>
                                <th>Agencia</th>
                                <th>Estado</th>
                                <th>Hora</th>
                                <th>Fecha</th>
                            </tr>
                            <tr>
                                <td>Dato</td>
                                <td>Dato</td>
                                <td>Dato</td>
                                <td>Dato</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</section>